body {
    margin: 0;
    padding: 0;
    font-family: "Alegreya Sans", sans-serif;
}

/****************
   NAVIGATION
 ***************/

.main-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    background-color: #e256e7;
    padding: 0.75rem;
}

.main-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.main-nav-bar li{
    padding: 0.5rem;
}

.main-nav-bar a {
    color: antiquewhite;
    text-decoration: none;
}

.main-nav-bar-logo {
    position: relative;
    font-size: 50px;
    font-family: "Agency FB";
    color: rgb(230, 212, 233);
    line-height: 1;
    text-shadow: 1px 5px 20px rgb(131, 3, 3);
    animation-name: mainlogoanimation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration: 2s;
}

@keyframes mainlogoanimation {
    0%{top: -100px;}
    100%{top: 0px;}
}

.main-nav-bar .main-nav-bar-logo:hover {
   transform: rotateY(360deg);
}

.main-nav-list {
    position: relative;
    display: flex;
    text-align: center;
    padding : 1.25rem;
    list-style: none;
    animation-name: main-nav-list-animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes main-nav-list-animation {
    0%{left: -1000px;}
    100%{left: 0;}
}

.main-nav-list a {
    text-decoration: none;
    margin: 0.75rem;
    padding: 0.75rem;
}

.main-nav-list a:hover {
     color: #e256e7;
    background-color: #faebd7;
    border-bottom: #e256e7 solid 2px;
}

.main-nav-list .current-page {
    border-bottom: #faebd7 solid 1px;
    padding-bottom: 0.1rem;
}

.main-body {
    display: flex;
    justify-content: space-between;
}

.store-locations-header {
    font-family: "Agency FB", serif;
    font-size: 5rem;
    text-align: center;
    color: #e256e7;
}

.store-location-section {
    flex: 1.5;
    margin-right: 1rem;
}

.store-locations-header small {
    font-family: "Calibri", serif;
    font-size: 1.75rem;
}

.store-location {
    font-family: "Open Sans", serif;
    background-color: #e256e7;
    padding: 1.75rem;
    margin: 0.45rem;
    color: #faebd7;
}

.store-location p {
    font-family: "Calibri", sans-serif;
    color: #faebd7;
}

.social-media-section {
    font-family: "Open Sans", serif;
    flex: 1;
    padding-left: 16rem;
}

.social-media-section-header {
    font-family: "Agency FB", serif;
    color: #e256e7;
    font-weight: bold;
    font-size: 1.75rem;
}

.icon-container-one{
    display: flex;
    align-items: center;
}

.icon-container-one a {
    color: #e256e7;
    text-decoration: none;
}

.icon-container-one a:hover {
    text-decoration: underline;
}

.icon-container-two{
    display: flex;
    align-items: center;
}

.icon-container-two a {
    color: #e256e7;
    text-decoration: none;
}

.icon-container-two a:hover {
    text-decoration: underline;
}

.icon-container-three {
    display: flex;
    align-items: center;
}

.icon-container-three a {
    color: #e256e7;
    text-decoration: none;
}

.icon-container-three a:hover {
    text-decoration: underline;
}

.icon-container-four{
    display: flex;
    align-items: center;
}

.icon-container-four a {
    color: #e256e7;
    text-decoration: none;
}

.icon-container-four a:hover {
    text-decoration: underline;
}

.icon-container-five{
    display: flex;
    align-items: center;
}

.icon-container-five a {
    color: #e256e7;
    text-decoration: none;
}

.icon-container-five a:hover {
    text-decoration: underline;
}

.icon-container-six{
    display: flex;
    align-items: center;
}

.icon-container-six a {
    color: #e256e7;
    text-decoration: none;
}

.icon-container-six a:hover {
    text-decoration: underline;
}

.main-footer {
    display: flex;
    justify-content: space-around;
    background-color: #e256e7
}

.main-footer-text {
    font-weight: bold;
    font-style: italic;
    color: #faebd7;
}

/**********************
MEDIA QUERIES
**********************/

/*FOR TABLETS*/
@media screen and (max-width: 786px){
    .main-nav-bar {
        display: block;
        text-align: center;
    }

    .main-nav-list{
        justify-content: center;
    }

}

/*FOR MOBILE SCREENS*/
@media screen and (max-width: 551px){
    .main-nav-list{
        flex-direction: column;
        justify-content: center;
    }

    .main-nav-list a {
        flex-direction: column;
    }
}

@media screen and (max-width: 551px){
    .main-body{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .social-media-section {
        padding:0.75rem;
    }
}

@media screen and (max-width: 266px){
    .store-locations-header {
        font-family: "Agency FB", serif;
        font-size: 180%;
        text-align: center;
        color: #e256e7;
    }

    .store-locations-header small {
        font-family: "Calibri", serif;
        font-size: 50%;
    }
}